<% if(is_post() && ('words' in page) && page.words != null) {%>
    <div class="index-header-line" >
        <span><%= page.words %></span>
    </div>
<% } else if(is_post() && page.categories.data.length > 0) { %>
    <div class="index-header-line">
        <span><%= page.categories.data[0].name %></span>
    </div>
<% } %>
<nav class="nav  <%= is_post() && page.words == null && page.categories.data.length == 0 ? 'nav-noheaderline' : '' %>">
    <ul class="nav-menu">
        <% for (name in theme.menu) { %>
            <%var path = theme.menu[name] + 'index.html' %>
            <% var isActive = page.path === theme.menu[name] || page.path === path || page.path === path.substring(1); %>
                <li><a class="nav-button <%= isActive ? 'active' : '' %>" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
        <% } %>
    </ul>

<!--    <div class="header-container">
        <style>
            .header-img {
                width: 56px;
                height: auto;
                object-fit: cover; /* 保持图片比例 */
                transition: transform 0.3s ease-in-out; 
                border-radius: <%= theme.isRoundedAvatar ? '50%' : '0' %>; 
            }
            <% if (theme.isAvatarRotating && theme.isRoundedAvatar) { %>
            .header-img:hover {
                animation: rotateAnimation 2s linear infinite; /* 悬停旋转动画 */
            }
            @keyframes rotateAnimation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            <% } %>
        </style>
        <img 
            alt="^-^" 
            cache-control="max-age=86400" 
            class="header-img" 
            src="<%- url_for(theme.favicon) %>" 
        />
        <div class="header-content">
            <a class="logo" href="<%- url_for() %>"><%= config.title %></a> 
            <span class="description"><%= config.description %></span> 
        </div>
    </div>-->
</nav>